.navbar {
    height:50px;
}

.jumbotron {
    background-color: rgb(235, 235, 235);
    height:250px;
    padding:50px;
}

.speakers {
    padding:50px;
    height: 500px;

}

.img-thumbnail {
    height: 50px;
    width: 50px;
}

.tickets {
    padding: 50px;
    height: 250px;
}

.venue {
    padding: 50px;
    height: 250px;
}